.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.bannerContainer {
  display: flex;
  justify-content: center;
  width: 50%;
}
.card {
  box-shadow: 0.5px 0.5px 1px #a9a9a9;
}
.cardLineOne {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardLineTwo {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardTextBold {
  font-size: 20px;
  font-weight: 700;
}
.cardTextLight {
  font-size: 20px;
}
.cardImage {
  margin: auto;
  height: auto;
  max-height: 320px;
  width: 320px;
}
.cardInfo {
  background-color: #e6e6e6;
}
.navBar {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.addCartButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cardButtonText {
  font-size: 23px;
  font-weight: 300;
  padding-left: 10px;
  margin-bottom: 0px;
}
