.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.bannerContainer {
  display: flex;
  justify-content: center;
  width: 50%;
}
.card {
  box-shadow: 0.5px 0.5px 1px #a9a9a9;
  margin: 10px;
}
.cardLineOne {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardLineTwo {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardTextBold {
  font-size: 20px;
  font-weight: 700;
}
.cardTextLight {
  font-size: 20px;
}
.cardImage {
  height: auto;
  height: 250px;
  width: 250px;
}
.cardInfo {
  background-color: #e6e6e6;
}
.addCartButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cardButtonText {
  font-size: 23px;
  font-weight: 300;
  padding-left: 10px;
  margin-bottom: 0px;
}
.meganavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dropdown {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 25px;
}
.thirds {
  width: 33%;
  /*border: 1px solid rgba(255, 0, 0, .2);*/
}
.dropdownMenu {
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 150px;
}
.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: 	#808080;
}
.cart-card {
  display: flex;
  justify-content: space-between;
}
.cart-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  height: 120px;
  width: 100%;
}
