.app {
  text-align: center;
}
.logo {
  max-width: 100%;
  height: auto;
}
.header {
  background-color: black;
  height: 195px;
  color: white;
}
.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 140px;
  margin: 0px;
}
.banner {
  height: 90px;
}
.search-input {
  align-items: flex-end;
  justify-content: flex;
  height: 50px;
}
.featured {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}
.featured-content {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.categories {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.search {
  width: 60%;
}
.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box {
  width: 90%;
}
.header-side {
  padding-top: 20px;
  padding-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
.account {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.account-buttons {
  padding-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.category-header {
  box-shadow: 1px 1px 5px #a9a9a9;
}
.category-header-text {
  padding: 10px;
  color: #999999;
}
.side-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: inherit;
  border: 1px;
  border-color: #a9a9a9;
}
